.boxWrap {
  border: 1px solid black;
  width: 238px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 45px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.elementStyle {
  letter-spacing: 0.3em;
  margin: 35px;
}

.bottomText {
  max-width: 238px;
  margin: 0 auto;
  color: rgb(119, 119, 119);
  font-size: 13px;
  padding: 20px;
}
