.mainWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px;
}

.cartClose {
  position: absolute;
  top: 20px;
  right: 20px;
}

.horizontalLine {
  border-bottom: 1px solid black;
  width: 100%;
  padding-top: 20px;
}

.text {
  text-align: left;
  padding: 20px 20px 20px 0;
}

.listWrap {
  overflow-y: scroll;
}

.list {
  width: 300px;
}

.btnCheck {
  background-color: rgb(226, 112, 90);
  color: white;
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
}

.btnViewCart {
  background-color: white;
  width: 100%;
  padding: 15px 16px;
  color: rgb(226, 112, 90);
  margin: 10px 0 10px 0;
  border: 1px solid rgb(226, 112, 90);
}

.subWrap {
}

.subtotal {
  text-align: left;
  padding: 20px 20px 20px 0;
}

.subPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  display: flex;
  text-align: left;
  font-size: 12px;
  margin-bottom: 20px;
}

.lock {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.cartItem {
  display: flex;
  justify-content: flex-start;
}
