.mainWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px;
}

.cartClose {
  position: absolute;
  top: 20px;
  right: 20px;
}

.horizontalLine {
  border-bottom: 1px solid black;
  width: 100%;
  padding-top: 20px;
}

.text {
  text-align: left;
  padding: 20px;
}
