.buttonMinus {
  background: none;
  position: absolute;
  top: 7px;
  left: 5px;
}

.buttonPlus {
  background: none;
  position: absolute;
  top: 7px;
  right: 5px;
}

.inputBox {
  position: relative;
}

.input {
  display: block;
  border: none;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  padding: 10px;
  width: 94%;
  border: 1px solid black;
  text-align: center;
}
.productImg {
  display: block;
  width: 100%;
  height: auto;
}
